<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style>
    	.fname {
    		min-width: 200px;
    		width: 200px;
    		
    	}
    	.argname {
    		min-width: 120px;
    		width: 120px;
    	}
    	.method {
    		min-width: 80px;
    		width: 80px;
    	}
    	table {
    		border-collapse: collapse;
    	}
    	table tr td {
    		border: 1px solid black;
    		background-color: lightgrey;
    		text-align: center;
    		margin: auto;
    	}
    </style>
  </head>
  <body>
    <h1>Welcome to the API description page for <%= title %></h1>
    <p>Relative to this URL, you can access the geospatial API services used by the application.</p>
    <table>
    	<tr>
    		<td>Method</td>
    		<td>Function name</td>
    		<td>Argument list</td>
    	</tr>
    	<% for (var i = 0; i < flist.length; i++) { %>
    		<tr>
    			<td class="method">GET</method>
    			<td class="fname"><%= flist[i].name %></td>
    			<td class="argname">
	    			<% for (var j = 0; j < flist[i].args.length; j++) { %>
	    				<%= flist[i].args[j] %><br/>
	    			<% } %>
    			</td>
    		</tr>
    	<% } %>
    </table>
  </body>
</html>
