<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome to the API description page for <%= title %></h1>
    <p>Relative to this URL, you can access the geospatial API services used by the application.</p>
  </body>
</html>
